<h1>ダイアリー投稿フォーム</h1>
<%= form_with model: @diary, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>距離</h4>
  <%= f.text_field :distance %>km
  <h4>タイム</h4>
  <%= f.number_field :hour %>:<%= f.number_field :minute %>:<%= f.number_field :second %>
  <h4>ペース</h4>
  <%= f.number_field :pace_minute %>:<%= f.number_field :pace_second %>
  <%= f.text_area :caption, placeholder: 'コメントを書いてください' %>
  <%= f.submit '投稿' %>
<% end %>