<div class="container">
  <%= render 'layouts/errors', obj: @diary %>
  <div class="row justify-content-center my-4">
    <h2>ダイアリー投稿フォーム</h2>
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @diary, local:true do |f| %>

    <div class="form-group row">
      <h5 class="col-md-3">画像</h5>
      <div class="col-md-7">
        <%= f.attachment_field :image %>
      </div>
    </div>

    <div class="form-group row">
      <h5 class="col-md-3">距離</h5>
      <div class="col-md-7">
        <%= f.text_field :distance, size: 7, placeholder: '5.0' %> km
      </div>
    </div>

    <div class="form-group row">
      <h5 class="col-md-3">時間</h5>
      <div class="col-md-7">
        <%= f.text_field :hour, size: 7, placeholder: '00' %> : <%= f.text_field :minute, size: 7, placeholder: '30' %> : <%= f.text_field :second, size: 7, placeholder: '00' %>
      </div>
    </div>

    <div class="form-group row">
      <h5 class="col-md-3">ペース</h5>
      <div class="col-md-7">
        <%= f.text_field :pace_minute, size: 7, placeholder: '06' %> ' <%= f.text_field :pace_second, size: 7, placeholder: '00' %> " / km
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <%= f.text_area :caption, size: "80x7", placeholder: 'コメントを書いてください' %>
      </div>
    </div>

    <div class="row">
      <%= f.submit '投稿', class: "btn btn-dark btn-lg btn-block" %>
    </div>

    <% end %>
　</div>

</div>