<h1>フォーム</h1>
<%= form_with model: @record, local:true do |f| %>
  <h4>ランニング日</h4>
  <%= f.datetime_select :start_time %>
  <h4>距離</h4>
  <%= f.text_field :distance %>km
  <h4>タイム</h4>
  <%= f.number_field :hour %>:<%= f.number_field :minute %>:<%= f.number_field :second %>
  <h4>ペース</h4>
  <%= f.number_field :pace_minute %>:<%= f.number_field :pace_second %>
  <%= f.submit '記録' %>
<% end %>


<%= month_calendar events: @records do |date, records| %>
<%= date.day %>
<% records.each do |record| %>
<%= link_to record.start_time.strftime("%H:%M"), edit_record_path(record) %>
<%= record.distance %>km
<%= record.hour %>:<%= record.minute %>:<%= record.second %>
<%= record.pace_minute %>:<%= record.pace_second %>/km
<% end %>
<% end %>


